/* Ajustez la hauteur du header */
.header {
  height: 100%;
}

/* Si vous voulez également ajuster la hauteur de la barre de navigation */
.navbar-custom {
  height: 1%;
  line-height: 100%;
}

/* Ajustez la hauteur du logo et de la zone de recherche */
.logo-image {
  max-height: 10%;
}

.form-control.border-light {
  height: 20%;
}

.home-background {
  background-image: url("../../assets/header/home.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.communaute-background {
  background-image: url("../../assets/header/communauté.jpeg");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.evenement-background {
  background-image: url("../../assets/header/evenement.png");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-background {
  background-image: url("../../assets/header/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styles pour la barre de navigation */
.navbar-custom {
  background-color: transparent;
  position: absolute;
  width: 100%;
  padding: 0;
  z-index: 2;
}

.navbar-custom .navbar-toggler {
  color: #000;
  border: 1px solid #fff;
  padding: 1.25rem 1.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fff;
  border-radius: 50%;
  transition: box-shadow 0.15s ease-in-out;
  z-index: 2;
}

.navbar-custom .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem #fff;
}

.navbar-custom .navbar-collapse {
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
}

/* Styles pour le bouton "Menu" */
.navbar-toggler-text {
  font-weight: bold;
}

/* Styles pour l'image */
.img-fluid {
  border-radius: 20px;
  max-width: 100%;
}

/* Styles pour le champ de recherche */
.form-control.border-light {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* Styles pour les liens de navigation */
.navbar-nav .nav-link {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #13adef;
}

.header .container.py-5 .row.text-center.pt-3 .col-lg-6.m-auto img {
  margin-top: 11%;
}

/* Styles pour la section personnalisée */
.custom-section {
  height: 500px;
  background-size: cover;
}

/* Styles pour le logo */
.logo-image {
  max-width: 100%;
  border: 39px solid #fff;
  border-radius: 15%;
}

/* Styles pour le bouton de recherche */
.search-button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* Styles pour le titre de la section */
.section-title {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #000;
}

/* Styles pour le texte de la section */
.section-text {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

/* Styles pour le bouton "Contact" */
.contact-button {
  background-color: #0f8abf;
  border-color: #0f8abf;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
}

.contact-button:hover {
  background-color: #13adef;
  border-color: #13adef;
}

#hainaut_main_nav .navbar-nav {
  z-index: 2;
}

@media (min-width: 576px) {
  .hainaut-carousel .h1 {
    font-size: 1em !important;
  }
}

@media (min-width: 768px) {
  #hainaut_main_nav .navbar-nav {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #hainaut_main_nav .navbar-nav {
    max-width: 550px;
  }

  #hainaut-carousel .carousel-item {
    min-height: 30rem !important;
  }
}
