<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="header.component.css" />
    <!-- <link rel="stylesheet" href="header.css" /> -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="../../public/images/header/double-down.jpg" alt="" />
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accueil</a></li>
            <li><a class="dropdown-item" href="#">Notre Communauté</a></li>
            <li><a class="dropdown-item" href="#">Evenement</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <li><hr class="dropdown-divider" /></li>
          </ul>
        </li>
        <div class="logo-container">
          <img
            src="../../public/images/Logo-communauté.png"
            alt=""
            class="logo"
          />
        </div>

        <div class="search-bar">
          <!-- https://bootstrapious.com/p/bootstrap-search-bar -->
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                id="button-addon2"
                type="submit"
                class="btn btn-link text-warning"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input
              type="search"
              placeholder="Comment pouvons-nous vous aider ?"
              aria-describedby="button-addon2"
              class="form-control border-0 bg-light"
            />
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <h1>Météo à Denain, France</h1>
      <div id="weather-info">{{ weatherInfo }}</div>
    </div>
  </body>
</html>
