.custom-section {
  height: 500px;
  background-size: cover;
}

img.card-img-top.img-fluid.w-100 {
  border: 39px solid #fff;
  border-radius: 15%;
}

.input-group-text {
  background-color: #fff;
}

.img-fluid {
  border-radius: 20px;
}

a.btn.btn-primary.contact {
  border: 2px solid;
  border-radius: 10px;
}
a,
body,
div,
input,
label,
li,
p,
ul {
  font-family: Roboto, sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h2 {
  font-family: Roboto, sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: Roboto, sans-serif;
  font-size: 22px !important;
}

.text-light {
  color: #fff !important;
}

.bg-dark {
  background-color: #13adef !important;
}
#hainaut_footer {
  background-color: #13adef !important;
}
.btn-news {
  background-color: #0f8abf !important;
  border-color: #0f8abf !important;
}
.contact {
  background-color: #13adef;
  border-color: #13adef;
}
.form-control {
  border: 1px solid #e8e8e8;
}

#hainaut_footer a {
  color: #fff;
}

#hainaut_footer a:hover {
  color: #f3eded;
}

#hainaut_footer ul.footer-link-list li {
  padding-top: 10px;
}

#hainaut_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

#hainaut_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: 0.5s;
}

#hainaut_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}

#hainaut_footer .border-light {
  border-color: #fff !important;
}

@media (min-width: 576px) {
  .hainaut-carousel .h1 {
    font-size: 1em !important;
  }
}

@media (min-width: 768px) {
  #hainaut_main_nav .navbar-nav {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  #hainaut_main_nav .navbar-nav {
    max-width: 550px;
  }

  #hainaut-carousel .carousel-item {
    min-height: 30rem !important;
  }
}
