<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <footer class="footer" id="footer">
    <section class="contact">
      <div>
        <h2>Nous contacter</h2>
        <p>Av, Michel Rondet.</p>
        <p>59135 Wallers</p>
        <i class="fa-solid fa-envelope"></i><i class="fa-brands fa-linkedin"></i><i class="fa-brands fa-facebook"></i>
        <p><i class="fa-regular fa-phone" style="color: #ffffff"></i> Bureau : 03 27 09 05 05</p>
      </div>
    </section>
    <section class="navigation">
      <div>
        <h2>Navigation</h2>
        <p>Plan du site</p>
        <p>Presse</p>
        <p>Numéros utiles</p>
        <p>Liens utiles</p>
      </div>
    </section>
    <section class="mentionlégales">
      <div>
        <h2>Mentions légales</h2>
        <p>Conditions générales</p>
        <p>Politique de cookies</p>
        <p>Données personnelles</p>
      </div>
    </section>

    <p>Tous droits réservés</p>
  </footer>

  <script src="https://kit.fontawesome.com/e7eee140d6.js" crossorigin="anonymous"></script>
</html>
