<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="footer.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  </head>
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="../../public/images/Logo-communauté.png" alt="Logo-Communauté" class="logo" id="logo-communaute" />
          <ul class="social-media-list" id="social-media-list">
            <li>
              <a href="#"
                ><img
                  src="../../public/images/footer/image-4.png"
                  alt="Logo Facebook"
                  class="social-media-icon"
                  id="facebook-icon"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../../public/images/footer/logo-facebook-rond-1.png"
                  alt="Logo Youtube"
                  class="social-media-icon"
                  id="youtube-icon"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../../public/images/footer/logo-link-rond-1.png"
                  alt="Logo Linkedin"
                  class="social-media-icon"
                  id="linkedin-icon"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../../public/images/footer/logo-twitter-rond-1.png"
                  alt="Logo Twitter"
                  class="social-media-icon"
                  id="twitter-icon"
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Nous contacter</h3>
          <p>Site Minier de Wallers-Arenberg Rue Michel-Rondet - BP 5959135 WALLERS-ARENBERG</p>
          <button class="btn btn-primary contact-button" id="contact-button">Contact</button>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled footer-links" id="footer-links">
            <li>
              <a href="#">ENCHERES PUBLIQUES</a>
            </li>
            <li>
              <a href="#">Plan du site</a>
            </li>
            <li>
              <a href="#">DONNEES PERSONNELLES</a>
            </li>
            <li>
              <a href="#">Mentions légales</a>
            </li>
            <li>
              <a href="#">NUMEROS UTILES</a>
            </li>
            <li>
              <a href="#">ACCOMPAGNEMENT NUMERIQUE DES ARTISANS ET COMMERCANTS</a>
            </li>
            <li>
              <a href="#">CREDITS</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
