<!-- Début section Background, logo, barre de recherche -->
<section class="bg-light py-5 custom-section"
    style="background-image: url('assets/img/05.jpg');background-repeat: no-repeat;background-position: center center;">
    <div class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <img src="assets/img/logo.jpg" alt="">
            </div>

        </div>
    </div>
    <div class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <input type="text" class="form-control border-light" placeholder="Rechercher">
            </div>
        </div>
    </div>
</section>
<!-- Fin section Background, logo, barre de recherche -->