<!-- Début Barre de menu -->
<header>
    <nav class="navbar navbar-light navbar-custom">
        <div class="container d-flex justify-content-between align-items-center">
    
            <button class="navbar-toggler border-0 mx-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#Hainaut_main_nav" aria-controls="Hainaut_main_nav" aria-expanded="false"
                aria-label="Toggle navigation">
                <p><strong>Menu</strong></p>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path
                            d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
    
                <span style="display: block; margin-top: -15px;">
                    <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path
                        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 1 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </span>
            </button>
    
            <div class="align-self-center collapse navbar-collapse flex-fill justify-content-lg-between"
                id="Hainaut_main_nav">
                <div class="flex-fill text-center">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">ACCUEIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#meteo">METEO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#article">ARTICLE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hainaut-carousel">CAROUSSEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hainaut_footer">FOOTER</a>
                        </li>
                    </ul>
                </div>
    
            </div>
    
        </div>
    </nav>
    </header>
    <!-- Fin Barre de menu -->