<!-- Début section caroussel -->
<div id="hainaut-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#hainaut-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#hainaut-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#hainaut-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/Carrou01.png" alt="image 01" width="600"
                            height="600">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 title-caroussel"><b>Programmes</b></h1>

                            <p>


                                De septembre à décembre 2023, les Scènes Plurielles proposent un programme varié
                                allant de la danse au théâtre en passant par la magie. La fête d'ouverture se
                                tiendra le 23 septembre à BELLAING. Les spectacles se dérouleront dans diverses
                                salles telles que la salle des sports de NIVELLE, la salle des fêtes de MASTAING, et
                                le Théâtre des Sources de SAINT-AMAND-LES-EAUX, pour n'en nommer que quelques-unes.

                            </p>
                            <a href="https://www.agglo-porteduhainaut.fr/actualites/programme-des-scenes-plurielles-septembre-decembre-2023"
                                class="btn btn-primary">lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/Carrou02.png" alt="image 02" width="600"
                            height="600">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 title-caroussel"><b>Découvrez</b></h1>

                            <p>
                                Depuis le 1er mars 2023, les résidents de La Porte du Hainaut peuvent obtenir une
                                prime pour l'achat d'un vélo ou d'une trottinette électrique. La prime est de 150 €
                                pour un vélo classique neuf, 75 € s'il est d'occasion, et de 300 € pour un vélo
                                électrique neuf, 150 € s'il est d'occasion.
                            </p>
                            <a href="https://www.agglo-porteduhainaut.fr/actualites/informations-et-concertation-du-plui"
                                class="btn btn-primary">lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/Carrou03.png" alt="image 03" width="600"
                            height="600">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 title-caroussel"><b>Informations</b></h1>

                            <p>
                                Au titre de ses compétences, La Porte du Hainaut s’est engagée dans un plan en
                                faveur du développement économique et de l'emploi sur son territoire et souhaite y
                                réaliser une véritable vitrine économique et environnementale territoriale pour
                                parfaire son attractivité et répondre aux sollicitations d'entreprises pour leur
                                implantation.

                            </p>
                            <a href="https://www.agglo-porteduhainaut.fr/actualites/consultation-pour-la-zac-du-chateau-d-eau-douchy-les-mines"
                                class="btn btn-primary">lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#hainaut-carousel" role="button"
        data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#hainaut-carousel" role="button"
        data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- Début section caroussel -->