<main class="container">
  <button
    routerLink="/evenement"
    class="btn btn-secondary mb-3 animated fadeInLeft"
  >
    Retour
  </button>
  <h1 class="display-4 animated bounceInDown">Événements musicaux</h1>
  <p class="lead animated fadeIn">
    Découvrez les prochains événements musicaux proposés par notre communauté.
    Voici l'agenda :
  </p>

  <div class="row">
    <div *ngFor="let evenement of evenements" class="col-md-6 col-lg-4 mb-4">
      <div class="card animated zoomIn">
        <img
          *ngIf="evenement.imageSrc"
          [src]="evenement.imageSrc"
          [alt]="evenement.titreEvent"
          class="card-img-top"
        />

        <div class="card-body">
          <h2 class="card-title animated bounceIn">
            {{ evenement.titreEvent }}
          </h2>
          <p class="card-text animated fadeInLeft">
            <strong>Date :</strong> {{ evenement.date }}
          </p>
          <p class="card-text animated fadeInRight">
            <strong>Lieu :</strong> {{ evenement.lieu }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="card mt-4 animated flipInY">
    <div class="card-body">
      <h2 class="card-title animated bounceInDown">
        COMMUNAUTÉ D'AGGLOMÉRATION DE LA PORTE DU HAINAUT
      </h2>
      <p class="card-text animated fadeIn">
        Salle du Léaud,<br />
        Site Minier d'Arenberg - La Porte du Hainaut
      </p>

      <button
        routerLink="/contact"
        class="btn btn-primary mt-3 animated fadeInUp"
      >
        Contactez nous
      </button>
    </div>
  </section>
</main>
