<!-- Début section Artcile -->
<section id="article" class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row g-0 align-items-center">
                        <div class="col-md-6">
                            <img class="card-img-top img-fluid w-100" src="assets/img/04.jpg" alt="" width="300">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="decouvrez">Découvrez</span>&nbsp;&nbsp;
                                    <span class="agglomeration">l'agglomération</span>
                                </h5>
                                <p class="card-text text-justify">La communauté d'agglomération de la Porte du Hainaut
                                    est située
                                    dans le département du Nord, en région Hauts-de-France. Fondée en 2001 à la
                                    suite de la loi de 1999 sur la coopération intercommunale, elle regroupait
                                    initialement trente-cinq communes. Depuis sa création, plusieurs communes ont
                                    rejoint cette agglomération, portant le nombre actuel à 46 membres. Parmi les
                                    moments clés de son histoire, la fusion avec la communauté de communes rurales
                                    de la Vallée de la Scarpe en 2014 est notable. Émerchicourt a également fait
                                    l'objet d'un va-et-vient entre différentes communautés, avec une annulation
                                    judiciaire de son adhésion en 2022. La population totale de la communauté
                                    d'agglomération s'élevait à 157 752 habitants en 2020. Son siège est basé au
                                    site minier d'Arenberg à Wallers..</p>
                                <a href="#" class="btn btn-primary">Communauté</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fin section Artcile -->