<main class="container">
  <section class="custom-section">
    <div class="image-container">
      <img
        src="../../assets/home/homeDiscover.jpeg"
        alt="LacDuParc"
        class="section-img"
      />
    </div>

    <div class="content-container">
      <h2 class="decouvrir">
        Découvrez<br /><br /><span class="agglomeration">l'agglomération</span>
      </h2>

      <p class="lorem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        cupiditate exercitationem dicta quas, deserunt molestias eaque quos
        facilis modi id maiores consectetur facere ab non hic sit totam nisi
        minima.
      </p>
      <button class="btn btn-primary" routerLink="/communaute">
        Communauté
      </button>
    </div>
  </section>
  <h2 class="informations">Fil <span class="info">info</span></h2>

  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/home/carrousselHome1.jpeg"
          class="d-block w-100"
          alt="carrousselImg1"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/home/carrousselHome2.jpeg"
          class="d-block w-100"
          alt="carrousselImg2"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/home/carrousselHome3.jpeg"
          class="d-block w-100"
          alt="carrousselImg3"
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/home/carrousselHome4.png"
          class="d-block w-100"
          alt="carrousselImg4"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" ariahidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</main>
