<body>
  <!-- Fin section Background, logo, barre de recherche -->

  <!-- Début section Meteo -->
  <section class="bg-light py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <h2>Météo actuelle à Denain</h2>
          <div id="weather-info">
            <p>{{ weatherInfo }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fin section Meteo -->

  <!-- Début section Artcile -->
  <section class="bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="row g-0 align-items-center">
              <div class="col-md-6">
                <img
                  class="card-img-top img-fluid w-100"
                  src="../../assets/home/04.jpg"
                  alt=""
                  width="300"
                />
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="decouvrez">Découvrez</span>&nbsp;&nbsp;
                    <span class="agglomeration">l'agglomération</span>
                  </h5>

                  <p class="card-text">
                    La communauté d'agglomération de la Porte du Hainaut est
                    située dans le département du Nord, en région
                    Hauts-de-France. Fondée en 2001 à la suite de la loi de 1999
                    sur la coopération intercommunale, elle regroupait
                    initialement trente-cinq communes. Depuis sa création,
                    plusieurs communes ont rejoint cette agglomération, portant
                    le nombre actuel à 46 membres. Parmi les moments clés de son
                    histoire, la fusion avec la communauté de communes rurales
                    de la Vallée de la Scarpe en 2014 est notable. Émerchicourt
                    a également fait l'objet d'un va-et-vient entre différentes
                    communautés, avec une annulation judiciaire de son adhésion
                    en 2022. La population totale de la communauté
                    d'agglomération s'élevait à 157 752 habitants en 2020. Son
                    siège est basé au site minier d'Arenberg à Wallers..
                  </p>
                  <a href="#" class="btn btn-primary">Communauté</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Début section caroussel -->
  <div id="hainaut-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#hainaut-carousel"
        data-bs-slide-to="0"
        class="active"
      ></li>
      <li data-bs-target="#hainaut-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#hainaut-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
              <img
                class="img-fluid"
                src="../../assets/home/Carrou01.png"
                alt="image 01"
                width="600"
                height="600"
              />
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <h1 class="h1 title-caroussel"><b>Programmes</b></h1>

                <p>
                  De septembre à décembre 2023, les Scènes Plurielles proposent
                  un programme varié allant de la danse au théâtre en passant
                  par la magie. La fête d'ouverture se tiendra le 23 septembre à
                  BELLAING. Les spectacles se dérouleront dans diverses salles
                  telles que la salle des sports de NIVELLE, la salle des fêtes
                  de MASTAING, et le Théâtre des Sources de
                  SAINT-AMAND-LES-EAUX, pour n'en nommer que quelques-unes.
                </p>
                <a
                  href="https://www.agglo-porteduhainaut.fr/actualites/programme-des-scenes-plurielles-septembre-decembre-2023"
                  class="btn btn-primary"
                  >lire la suite</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
              <img
                class="img-fluid"
                src="../../assets/home/Carrou02.png"
                alt="image 02"
                width="600"
                height="600"
              />
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <h1 class="h1 title-caroussel"><b>Découvrez</b></h1>

                <p>
                  Depuis le 1er mars 2023, les résidents de La Porte du Hainaut
                  peuvent obtenir une prime pour l'achat d'un vélo ou d'une
                  trottinette électrique. La prime est de 150 € pour un vélo
                  classique neuf, 75 € s'il est d'occasion, et de 300 € pour un
                  vélo électrique neuf, 150 € s'il est d'occasion.
                </p>
                <a
                  href="https://www.agglo-porteduhainaut.fr/actualites/informations-et-concertation-du-plui"
                  class="btn btn-primary"
                  >lire la suite</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row p-5">
            <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
              <img
                class="img-fluid"
                src="../../assets/home/Carrou03.png"
                alt="image 03"
                width="600"
                height="600"
              />
            </div>
            <div class="col-lg-6 mb-0 d-flex align-items-center">
              <div class="text-align-left align-self-center">
                <h1 class="h1 title-caroussel"><b>Informations</b></h1>

                <p>
                  Au titre de ses compétences, La Porte du Hainaut s’est engagée
                  dans un plan en faveur du développement économique et de
                  l'emploi sur son territoire et souhaite y réaliser une
                  véritable vitrine économique et environnementale territoriale
                  pour parfaire son attractivité et répondre aux sollicitations
                  d'entreprises pour leur implantation.
                </p>
                <a
                  href="https://www.agglo-porteduhainaut.fr/actualites/consultation-pour-la-zac-du-chateau-d-eau-douchy-les-mines"
                  class="btn btn-primary"
                  >lire la suite</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev text-decoration-none w-auto ps-3"
      href="#hainaut-carousel"
      role="button"
      data-bs-slide="prev"
    >
      <i class="fas fa-chevron-left"></i>
    </a>
    <a
      class="carousel-control-next text-decoration-none w-auto pe-3"
      href="#hainaut-carousel"
      role="button"
      data-bs-slide="next"
    >
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</body>
