<main class="container">
  <h1 class="back animate__animated animate__bounceInDown event-title">
    <img
      src="../../assets/title/rectangle-title.svg"
      alt="simple blue bar for design"
    />
    Découvrez nos <span class="event">événements</span> !
  </h1>
  <section class="row">
    <div
      class="col-md-6 col-sm-12 text-center text-md-start animate__animated animate__fadeInLeft"
    >
      <div>
        <a routerLink="/event-communaute">
          <img
            src="../../assets/evenement/communaute.svg"
            alt="Communauté"
            class="zoom-on-hover img-responsive"
          />
        </a>
      </div>
    </div>
    <div
      class="col-md-6 col-sm-12 text-center text-md-end animate__animated animate__fadeInRight"
    >
      <div>
        <a routerLink="/la-fete">
          <img
            src="../../assets/evenement/la-fete.svg"
            alt="La fête"
            class="zoom-on-hover img-responsive"
          />
        </a>
      </div>
    </div>
    <div
      class="col-md-12 col-sm-12 text-center animate__animated animate__fadeInUp"
    >
      <div>
        <a routerLink="/musique">
          <img
            src="../../assets/evenement/musique.svg"
            alt="Musique"
            class="zoom-on-hover img-responsive"
          />
        </a>
      </div>
    </div>
  </section>
</main>
