<main class="container">
  <h1 class="back">
    <img
      src="../../assets/title/rectangle-title.svg"
      alt="simple blue bar for design"
    />
    Découvrez nos <span class="event">événements</span> !
  </h1>
  <section class="row">
    <div class="col-md-6 text-start">
      <div>
        <button class="btn btn-primary" routerLink="/event-communaute">
          La Communauté
        </button>
      </div>
    </div>
    <div class="col-md-6 text-end">
      <div>
        <button class="btn btn-primary" routerLink="/la-fete">
          C'est la fête
        </button>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <div>
        <button class="btn btn-primary" routerLink="/musique">Musique</button>
      </div>
    </div>
  </section>
</main>
